@{
    ViewData["Title"] = "Home Page";
    Layout = "_MainSiteLayout";
}

<div class="container-fluid" style="height:600px">
    <img src="~/404.png" class="img-fluid" alt="Not found page" style="height:600px; width:100%"/>
</div>
