@model IEnumerable<Category>
@{
    ViewData["Title"] = "Shirzad Store";
    Layout = "_MainSiteLayout";
}


<!-- start of silder section -->
@await Component.InvokeAsync("SliderMainComponent")
<!-- end of slider section -->
<!-- start of product section -->
<Product class="products">
    <div class="products">
        @foreach (var item in Model)
        {
             <!-- start of Product Bassed on Category row for owl-carousel -->
        <div class="mx-auto" style="width: 95%">
            <div class="border-products1">
                <span class="border-products pb-1 w-100">@item.Name</span>
            </div>
            <div class="container-fluid products">
                <div class="row my-2">
                    <div class="col-12 m-auto mt-4">
                        <div class="owl-carousel owl-theme">
                           @await Component.InvokeAsync("ProductsBassedOnCategory", item.Id)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of Product Bassed on Category for owl-carousel -->
        }
       
    </div>
</Product>
<!-- end of product section -->
<!-- start of Serive section -->

<div class="Service products">
    <!-- start of first row owl-carousel-->
    <div class="mx-auto pt-5" style="width: 95%">
        <div class="border-products1">
            <span class="pb-1 border-products w-100">Our Serivces</span>
        </div>
        <div class="container-fluid products">
            <div class="row my-2">
                <div class="col-12 m-auto mt-4">
                    <div class="owl-carousel owl-theme">
                       
                        @await Component.InvokeAsync("ServiceComponent")

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of first row owl-carousel-->
</div>

<!-- end of ُService section -->
<!-- Start of Pricing request section -->
<div class="container-fluid mt-5 pricing-request">
    <div class="row text-center text-white">
        <h2>Request For Pricing Order</h2>
        <a asp-action="PricingOrder" asp-controller="SitePages" class="btn">Create your request</a>
    </div>
</div>
<!-- end of Pricing request section -->