
@model Slider
@{
    ViewData["Title"] = "Add Slider";
    
}


<div class="col-6 mt-5  offset-3">
    <div class="container mt-5">
        <div class="row">
            <div class="alert alert-info text-center mb-3">
                Add Slider
            </div>
        </div>
    </div>
    <div class="card-box">
        <form asp-action="AddSlider" method="post" class="mt-5" enctype="multipart/form-data">

            <div class="form-group my-3">
                <label> Slider Title</label>
                <input asp-for="SliderTitle" type="text" placeholder="Enter the slider title " class="form-control">
                <span asp-validation-for="SliderTitle" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label>Alt </label>
                <input asp-for="sliderAlt" type="text" placeholder="Enter the slider Alt " class="form-control">
                 <span asp-validation-for="sliderAlt" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label>Slider Sort </label>
                <input asp-for="SliderSort" min="1" type="number" class="form-control">
                <span asp-validation-for="sliderAlt" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label>Slider</label>
                <input name="file" type="file"  class="form-control">
                <span asp-validation-for="SliderImg" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <div class="checkbox">
                    <input asp-for="IsActive" class="check-box" id="remember-1" type="checkbox" class="mr-4">
                    <label asp-for="IsActive" for="remember-1"> Keep Active </label>
                </div>
            </div>

            <div class="form-group text-right m-b-0 d-flex justify-content-center">
                <button class="btn btn-primary " type="submit">
                    Save
                </button>
                <a asp-action="Index" class="btn btn-default">
                    Cancel
                </a>
            </div>

        </form>
    </div>
</div>
