@model IEnumerable<Product>

@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="item bg-white mh-100">
        @if (item.IsNew)
        {
            <div class="px-4 pt-2 new">
                <span class="fs-5 text-white px-2 py-1 rounded-3"> <i>New</i> </span>
            </div>
        }

        <div class="">
            <img src="~/Img/Product/@item.PhotoUrl"
             class="img-fluid w-100"
             alt="@item.AltProp" />
        </div>
        <div class="card-body text-center">
            <h4>@item.Name</h4>
            <p>
                @item.ShortDescription
            </p>
        </div>
        <div class="text-center m-0 p-0">
            <p class="pb-2 price fs-5">$ @item.Price</p>
        </div>
    </div>
}